<p id="notice"><%= notice %></p>

<h1>Previous Cities</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @previous_cities.each do |previous_city| %>
      <tr>
        <td><%= previous_city.city %></td>
        <td><%= link_to 'Show', previous_city %></td>
        <td><%= link_to 'Edit', edit_previous_city_path(previous_city) %></td>
        <td><%= link_to 'Destroy', previous_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Previous City', new_previous_city_path %>
